*{
    font-family: sans-serif;
    list-style: none;
    padding: 0;
}
nav{
    height: 80px;
    width: 100%;
    background: #f1ec9d;
}
label.logo{
    font-size: 35px;
    font-weight: bold;
    color: rgb(35, 47, 27);
    padding: 0 100px;
    line-height: 80px;
}
nav ul{
    float: right ;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 80px;
    line-height: 80px;
}
.tabble{
    margin-left: 10%;
}
html{
    background: rgb(221, 220, 193);

    border: solid rgb(21, 41, 42);
    margin-top: 1%;
    border-width: 3.5cm;
}   
nav a{
    color: rgb(85, 172, 51);
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding:7px 10px;
    border-radius: 3px;
}
a.active ,a.hover{
    border: 1px solid rgb(140, 235, 131);
    transition: .5s;
}
nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
}
.profile{
    font-size: 2500;
    text-align: justify;
    text-align: right;
    /* padding: 5%; */
    word-spacing: 5px;
    margin-top: 3%;
    margin-right: 2%;
    font-size: 25px;
    
}
.h11{
    text-align: left;
    margin-top: -2.5%;
}
.nmu{
    font-size: 24px;
}
.skills{
    margin-top: 50%;
    width: 500px;
    margin:60px auto;
    color: rgb(58, 0, 128);

}
.skills li{
    margin:20px 0;
}
.bar{
    background: #353b48;
    display: block;
    height: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #171718b3;
}
.bar span{
    height: 10px;
    float: left;
    background: #f65d03;
}
.html{
    width: 90%;
    animation: html 2s;
}
.python{
    width: 70%;
    animation: python 2s;


}
.java{
    width: 50%;
    animation: java 2s;

}
.ML{
    width: 70%;
    animation: ML 2s;

}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90% ;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 70% ;
    }
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 50% ;
    }
}
@keyframes ML{
    0%{
        width: 0%;
    }
    100%{
        width: 70% ;
    }
}

.blog-posts{
    width: min(1200px, 100%);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    cursor: pointer;
    margin-left: 13%;
  }
  
  .post{
    width: calc(33% - 10px);
    overflow: hidden;
  }
  
  .post-img{
    width: 100%;
    border-radius: 6px;
    transition: .3s linear;
  }
  
  .post-content{
    background-color: #79e76fdd;
    margin: 0 20px;
    padding: 30px;
    border-radius: 6px;
    transform: translateY(-60px);
    transition: .3s linear;
  }
  
  .post-content h3{
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .date{
    font-size: 15px;
    font-style: italic;
    color: #e77f67;
  }
  
  .post:hover .post-img{
    transform: translateY(20px);
  }
  
  .post:hover .post-content{
    transform: translateY(-80px);
  }
  
  @media screen and (max-width: 1200px){
    .blog-posts{
      justify-content: center;
    }
    .post{
      width: min(600px, 100%);
    }
  }
.logo{
    margin-left: -6.2%;

  }
  .cen{
      text-align: left;
      margin-left: -112%;
  }