*{
    font-family: sans-serif;
    list-style: none;
    padding: 0;
}
html{
    background: rgb(179, 245, 242);

    border: solid white;
    margin-top: 1%;
    border-width: .5cm;
}
.profile{
    font-size: 2500;
    text-align: justify;
    text-align: right;
    /* padding: 5%; */
    word-spacing: 5px;
    margin-top: 3%;
    margin-right: 2%;
    font-size: 25px;
    
}
.h11{
    text-align: center;
    margin-top: -6%;
}
.nmu{
    font-size: 24px;
}
.skills{
    margin-top: 50%;
    width: 500px;
    margin:60px auto;
    color: green;

}
.skills li{
    margin:20px 0;
}
.bar{
    background: #353b48;
    display: block;
    height: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #171718b3;
}
.bar span{
    height: 2px;
    float: left;
    background: #f65d03;
}
.html{
    width: 90%;
    animation: html 2s;
}
.python{
    width: 70%;
    animation: python 2s;


}
.java{
    width: 50%;
    animation: java 2s;

}
.ML{
    width: 70%;
    animation: ML 2s;

}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90% ;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 70% ;
    }
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 50% ;
    }
}
@keyframes ML{
    0%{
        width: 0%;
    }
    100%{
        width: 70% ;
    }
}