*{
    font-family: sans-serif;
    list-style: none;
    padding: 0;
}
nav{
    height: 80px;
    width: 100%;
    background: #e1ee69;
}
label.logo{
    font-size: 35px;
    font-weight: bold;
    color: rgb(109, 228, 29);
    padding: 0 100px;
    line-height: 80px;
}
nav ul{
    float: right ;
    margin-right: 40px;
}
nav li{
    display: inline-block;
    margin: 0 80px;
    line-height: 80px;
}
html{
    background: rgb(245, 241, 179);

    border: solid rgb(0, 0, 0);
    margin-top: 1%;
    border-width: .5cm;
}
nav a{
    color: rgb(69, 172, 51);
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding:7px 10px;
    border-radius: 3px;
}
a.active ,a.hover{
    border: 1px solid rgb(140, 235, 131);
    transition: .5s;
}
nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
}
.profile{
    font-size: 2500;
    text-align: justify;
    text-align: right;
    /* padding: 5%; */
    word-spacing: 5px;
    margin-top: 3%;
    margin-right: 2%;
    font-size: 25px;
    
}
.h11{
    text-align: left;
    margin-top: -2.5%;
}
.nmu{
    font-size: 24px;
}
.skills{
    margin-top: 50%;
    width: 500px;
    margin:60px auto;
    color: green;

}
.skills li{
    margin:20px 0;
}
.bar{
    background: #353b48;
    display: block;
    height: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #171718b3;
}
.bar span{
    height: 10px;
    float: left;
    background: #f65d03;
}
.html{
    width: 90%;
    animation: html 2s;
}
.python{
    width: 70%;
    animation: python 2s;


}
.java{
    width: 50%;
    animation: java 2s;

}
.ML{
    width: 70%;
    animation: ML 2s;

}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90% ;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 70% ;
    }
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 50% ;
    }
}
@keyframes ML{
    0%{
        width: 0%;
    }
    100%{
        width: 70% ;
    }
}