html{
    border: solid rgb(255, 252, 252);
    margin-top: 1%;
    border-width: 1.5cm;
    background: rgb(3, 3, 0);
}
.h10{
    font-size: 30px;

}
nav{
    height: 80px;
    width: 100%;
    background: #e1ee69;
}
label.logo{
    font-size: 35px;
    font-weight: bold;
    color: rgb(109, 228, 29);
    padding: 0 100px;
    line-height: 80px;
}
nav ul{
    float: right ;
    margin-right: 20px;
}
nav li{
    display: inline-block;
    margin: 0 80px;
    line-height: 80px;
}
html{
    background: rgb(245, 241, 179);

    border: solid rgb(250, 250, 250);
    margin-top: 1%;
    border-width: 3.5cm;
}   
nav a{
    color: rgb(69, 172, 51);
    font-size: 18px;
    text-transform: uppercase;
    border: 1px solid transparent;
    padding:7px 10px;
    border-radius: 3px;
}
a.active ,a.hover{
    border: 1px solid rgb(140, 235, 131);
    transition: .5s;
}
nav #icon{
    color: white;
    font-size: 30px;
    line-height: 80px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
}



.nmu{
    font-size: 24px;
}
.h11{
    text-align: center;
    margin-top: -6%;
}
.c2{
    margin-top: 3%;
    text-align: left;
}
.p1{
    font-size: 19px;
    text-align: left;

}
.c3{
    margin-top: 5%;
    text-align: left;
}
.p2{
    font-size: 19px;
    text-align: left;
}
.c3{
    margin-top: 5%;
    text-align: left;
}
.p2{
    font-size: 19px;
    text-align: left;
}.c4{
    margin-top: 5%;
    text-align: left;

}
.p3{
    font-size: 19px;
    text-align: left;
}

.c5{
    margin-top: 5%;
    text-align: left;
    
}
.p4{
    font-size: 19px;
    text-align: left;
}
.c6{
    margin-top: 5%;
    text-align: left;
}
.p5{
    font-size: 19px;
    text-align: left;
    margin-left: 2%;

}
.par{
    text-align: left;
    font-size: 55px;
    margin-top: -5%;
    margin-left: 1%;
}
.pic {
    float: right;
    margin-left: 50%;


}
.hea{
    text-align: center;
    font-size: 4000;
    margin-top: -5%;
}
.skills{
    width: 500px;
    margin:60px auto;
    color: green;

}
.skills li{
    margin:20px 0;
}
.bar{
    background: #353b48;
    display: block;
    height: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 10px #171718b3;
}
.bar span{
    height: 2px;
    float: left;
    background: #f65d03;
}
.html{
    width: 90%;
    animation: html 2s;
}
.python{
    width: 65%;
    animation: python 2s;


}
.java{
    width: 50%;
    animation: java 2s;

}
.ML{
    width: 70%;
    animation: ML 2s;

}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90% ;
    }
}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 70% ;
    }
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 50% ;
    }
}
@keyframes ML{
    0%{
        width: 0%;
    }
    100%{
        width: 70% ;
    }
}